{% extends "template/layout.html" %}

{% block js %}
<script>
var data = {{ data | dump | safe }};
</script>
<script src="/javascripts/admin/overview.js"></script>
<!--<script src="/javascripts/admin/picker.js"></script>
<script src="/javascripts/admin/picker.date.js"></script>
<script src="/javascripts/admin/picker.time.js"></script>-->
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/stylesheets/admin/overview.css">
<!--<link rel="stylesheet" href="/stylesheets/classic.css">
<link rel="stylesheet" href="/stylesheets/classic.date.css">
<link rel="stylesheet" href="/stylesheets/classic.time.css">-->
{% endblock %}

{% block content %}
{% raw %}
<h2>管理</h2>
<hr />
<div id="app" v-on:submit.prevent>
    <div class="panel panel-default">
    <div class="panel-heading">参数</div>
    <div class="panel-body">
        <form class="form-inline">
            <div class="form-group">
                <label for="key">KEY:</label>
                <input type="text" class="form-control" id="key" v-model='key'>
            </div>
            <div class="form-group">
                <label for="value">VALUE:</label>
                <input type="text" class="form-control" id="value" v-model="value">
            </div>
            <button type="submit" v-on:click="addOption" class="btn btn-default">新增</button>
        </form>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>key</th>
                    <th>value</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody v-el:options>
                <tr v-for="op in table.option">
                    <td><input type="text" class="form-control" value="{{op.key}}" readonly></td>
                    <td>
                        <input type="text" class="form-control values" value="{{op.value}}">
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm" v-on:click="updateOption(op.key, $index)">修改</button>
                        <button type="button" class="btn btn-danger btn-sm" v-on:click="deleteOption(op.key, $index)">删除</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>

    <div class="panel panel-default">
    <div class="panel-heading">用户注册</div>
    <div class="panel-body">
        <h5> 用户总数：{{table.user.count}}<a href="/admin/userManage" type="button" class="btn btn-primary btn-sm pull-right">管理用户</a></h4>
        <span>最近 10 个用户：</h4>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>邮箱</th>
                    <th>电话</th>
                    <th>姓名</th>
                    <th>注册时间</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="u in table.user.lastUsers">
                    <td>{{ u.id }}</td>
                    <td>{{ u.email }}</td>
                    <td>{{ u.phone }}</td>
                    <td>{{ u.name }}</td>
                    <td>{{ u.created }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>

    <div class="panel panel-default">
    <div class="panel-heading">报名表管理</div>
    <div class="panel-body">
        <h5> 报名表总数：{{table.report.count}}<a href="/admin/reportList" type="button" class="btn btn-primary btn-sm pull-right">管理报名表</a></h4>
        <span>最近 10 个报名表：</h4>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>用户</th>
                    <th>学校</th>
                    <th>项目</th>
                    <th>提交时间</th>
                    <th>状态</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="r in table.report.lastReport">
                    <td>{{ r.id }}</td>
                    <td>{{ r.email }}</td>
                    <td>{{ r.schoolName }}</td>
                    <td>{{ entry[r.entry] }}</td>
                    <td>{{ r.created }}</td>
                    <td>{{ r.status }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>

</div>
{% endraw %}
{% endblock %}

<!-- Split button -->
