{% set curr = "index" %}
{% extends "template/layout.html" %}

{% block content %}
<h2>2016年广东省机器人大赛暨机器人技术研讨会</h2>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;为促进机器人技术创新和人才培养，推动机器人产业发展，广东省计算机学会智能软件与机器人分会将于2016年12月23-24日在广州举行2016年广东省机器人大赛暨机器人技术研讨会。</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;研讨会将邀请机器人学术界专家和产业界人士做机器人主题报告。机器人竞赛项目包括(1)接力机器人竞赛；(2)创意机器人竞赛;(3)无人驾驶车仿真竞赛。本次大赛无需报名费，参赛队人员食宿费用自理。竞赛规则、大赛正式通知将在大赛官方网站http://gdrobot.hqsmartbot.com公布。</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;报名截止日期2016年10月30日。</p>
{% endblock %}