<!Doctype html>
<html>
  <head>
    <title>2016年广东省机器人大赛暨机器人技术研讨会</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="author" content="moevis">
    <meta name="Keywords" content="机器人,大赛,报名,研讨会">
    <meta name="description" content="广东省机器人大赛暨机器人技术研讨会报名系统，泛珠三角机器人大赛是一个区域性的机器人竞技比赛，旨在推动泛珠三角地区对机器人技术与智能软件技术的科研、教育和机器人技术产业的发展。大赛面向参赛队和机构包括但不限于：广东省、港澳台地区等各院校、科研机构以及企业的机器人比赛团队。" />
    <script src="{{ prefix }}/javascripts/vue2.min.js"></script>
    <script src="{{ prefix }}/javascripts/jquery-3.1.1.min.js"></script>
    <script src="{{ prefix }}/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/util.js"></script>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block css %}
    {% endblock %}
    {% block js %}
    {% endblock %}
  </head>
  <body>
    {% include "template/header.html" %}

    <div class="container">
      {% block content %}{% endblock %}
    </div>

    {% include "template/footer.html" %}
  </body>
</html>